<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiosk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiosk">
        <activity
            android:name=".Activity.StartPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.kiosk.Activity.AccountPage"></activity>
        <activity android:name="com.example.kiosk.Activity.UserPage"></activity>
        <activity android:name="com.example.kiosk.Activity.CakeSetPage"></activity>
        <activity android:name="com.example.kiosk.Activity.BeverageOrderPage"></activity>
        <activity android:name="com.example.kiosk.Activity.BeverageSetPage"></activity>
        <activity android:name="com.example.kiosk.Activity.PayPage"></activity>
        <activity android:name="com.example.kiosk.Activity.CakeOrderPage"></activity>
        <activity android:name="com.example.kiosk.Activity.EndPage"></activity>
        <activity android:name="com.example.kiosk.Activity.CouponPage"></activity>
        <activity android:name="com.example.kiosk.Activity.BasketPage"></activity>


    </application>
</manifest>